<section class="about_us">
    <div class="wrapper">
        <div class="left-side">
            <div class="">
                <h2 class="about_us_title">About us</h2>
                <p lass="about_us_des">
                    The store "Vyshyvanka Vibes" is a place where traditional Ukrainian vyshyvanka
                    comes
                    to life with new
                    zest and style.
                    Our store offers a wide selection of high-quality and authentic embroidery, which combines
                    the
                    elegance
                    of traditional
                    needlework and modern design.
                </p>
                <p class="about_us_des_1">
                    In "Vyshyvanka Vibes" you will find various models of embroidery, from classic
                    to
                    modern, corresponding
                    to the latest
                    fashion trends. Our embroidery is made using natural fabrics and is embroidered by highly
                    qualified
                    craftsmen who convey
                    the beauty of Ukrainian culture in every detail.We believe that vyshyvanka is not just
                    clothing,
                    but
                    a
                    symbol of
                    national pride, the heritage of our ancestors and a way of expressing one's individuality.
                    Each
                    embroidery from
                    "Vyshyvanka Vibes" has its own unique history and symbolism, which gives it a special
                    meaning.

                </p>
            </div>
        </div>
        <img class="about_us_img" srcset="
              ./img/about_us/girlandboy_d  392w,
              ./img/about_us/girlandboy_d@2x 784w,
              ./img/about_us/girlandboy_t     413w,
              ./img/about_us/girlandboy_t@2x   826w,
              ./img/about_us/girlandboy_m      355w,
              ./img/about_us/girlandboy_m@2x   670w"
            sizes="(min-width: 1280px) 392px, (min-width: 768px) 413px, (max-width: 767px) 355px"
            src="./img/about_us/girlandboy_d" alt="girl and boy" width="594" height="545">
    </div>
</section>