<section class="about" id="about-us">
  <div class="wrapper container">
    <div class="about-box">
      <h2 class="about_us_title">About us</h2>
      <p class="about_us_des">
        The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
        vyshyvanka comes to life with new zest and style. Our store offers a
        wide selection of high-quality and authentic embroidery, which combines
        the elegance of traditional needlework and modern design.
      </p>
      <p class="about_us_des">
        In "Vyshyvanka Vibes" you will find various models of embroidery, from
        classic to modern, corresponding to the latest fashion trends. Our
        embroidery is made using natural fabrics and is embroidered by highly
        qualified craftsmen who convey the beauty of Ukrainian culture in every
        detail.We believe that vyshyvanka is not just clothing, but a symbol of
        national pride, the heritage of our ancestors and a way of expressing
        one's individuality. Each embroidery from "Vyshyvanka Vibes" has its own
        unique history and symbolism, which gives it a special meaning.
      </p>
    </div>

    <img
      class="about_us_img"
      srcset="
        ./img/about_us/girlandboy_d.jpg    392w,
        ./img/about_us/girlandboy_d@2x.jpg 784w,
        ./img/about_us/girlandboy_t.jpg    413w,
        ./img/about_us/girlandboy_t@2x.jpg 826w,
        ./img/about_us/girlandboy_m.jpg    355w,
        ./img/about_us/girlandboy_m@2x.jpg 670w
      "
      sizes="(min-width: 1280px) 594px, (min-width: 768px) 704px, (max-width: 767px) 335px"
      src="./img/about_us/girlandboy_d.jpg"
      alt="girl and boy"
      width="335"
      height="499"
    />
  </div>
</section>
