<section class="footer-section">
  <div class="footer-aria">
    <ul class="footer-list">
      <li><a class="footer-list-item" href>About us</a></li>
      <li><a class="footer-list-item" href>Our collection</a></li>
      <li><a class="footer-list-item" href>CUSTOMER ORDER</a></li>
      <li><a class="footer-list-item" href>TEstimonials</a></li>
    </ul>
    <h2 class="embroidery-culture">A touch of <span class="yellow-word">Ukrainian</span>      culture in every embroidery
    </h2>
  </div>
</section>
