<section class="footer-section">
  <div class="footer-aria container">
    <ul class="footer-list">
      <li><a class="footer-list-item" href="#about-us">About us</a></li>
      <li><a class="footer-list-item" href="#our-collection">Our collection</a></li>
      <li><a class="footer-list-item" href="#customer-order">CUSTOMER ORDER</a></li>
      <li><a class="footer-list-item" href="#testimonials">TEstimonials</a></li>
    </ul>
    <h3 class="embroidery-culture">A touch of 
      <span class="yellow-word">Ukrainian</span>
     culture in every embroidery
    </h3>
  </div>
  <div class="footer-fone">
  </div>
</section>