<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <a class="nav-logotype" href="">
        <img src="../img/logo.svg" alt="logotype" width="44" height="39" />
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#about-us" class="nav-link">About us</a>
        </li>
        <li class="nav-item">
          <a href="#our-collection" class="nav-link">Our collection </a>
        </li>
        <li class="nav-item">
          <a href="#customer-order" class="nav-link">Customer order </a>
        </li>
        <li class="nav-item">
          <a href="#testimonials" class="nav-link">Testimonials </a>
        </li>
      </ul>
    </nav>
    <div class="phone-social-network-container">
      <!-- <li class="address-list-item"> -->
      <address class="address-list">
        <a class="phone-number" href="tel:+380684439426">+380 (68) 443-94-26</a>
      </address>

      <ul class="social-network">
        <li class="social-network-list-item">
          <a
            class="social-network-list-link"
            href="https://www.facebook.com/goITclub/"
          >
            <svg
              class="social-network-list-icon"
              width="28"
              height="28"
              aria-label="facebook icon"
            >
              <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-network-list-item">
          <a
            class="social-network-list-link"
            href="https://www.instagram.com/goitclub/"
          >
            <svg
              class="social-network-list-icon"
              width="28"
              height="28"
              aria-label="instagram icon"
            >
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-network-list-item">
          <a
            class="social-network-list-link"
            href="https://www.youtube.com/c/GoIT"
          >
            <svg
              class="social-network-list-icon"
              width="28"
              height="28"
              aria-label="youtube icon"
            >
              <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- <header class="page-header">
      <div class="container page-header-container">
        
        <nav class="page-navigation">
          <a class="logotype-link link" href="./index.html"
            >Web<span class="accent">Studio</span></a
          >
          <ul class="logotype-list">
            <li class="logotype-list-item list">
              <a
                class="logotype-list-link link logotype-list-link-decorate"
                href="./index.html"
                >Studio</a
              >
            </li>
            <li class="logotype-list-item list">
              <a class="logotype-list-link link" href="">Portfolio</a>
            </li>
            <li class="logotype-list-item list">
              <a class="logotype-list-link link" href="">Contacts</a>
            </li>
          </ul>
        </nav>
        <button class="open-mobile-menu-btn">
          <svg
            class="open-mobile-menu-ikon"
            width="24"
            height="24"
            aria-label="mobile menu ikon"
          >
            <use href="./images/icons.svg#icon-burger"></use>
          </svg>
        </button>
        
        <address class="page-address">
          <ul class="address-list">
            <li class="address-list-item list address-list-item-margin">
              <a class="address-list-link link" href="mailto:info@devstudio.com"
                >info@devstudio.com</a
              >
            </li>
            <li class="address-list-item list">
              <a class="address-list-link link" href="tel:+110001111111"
                >+11 (000) 111-11-11</a
              >
            </li>
          </ul>
        </address>
      </div>
    </header> -->

<!-- <div class="social-media-container footer-link-container-tablet">
          <p class="social-media-title">Social media</p>
          <ul class="social-network-footer">
            <li class="social-network-list-item">
              <a class="social-network-list-link-footer" href="">
                <svg
                  class="social-network-list-icon"
                  width="24"
                  height="24"
                  aria-label="instagram icon"
                >
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-network-list-item">
              <a class="social-network-list-link-footer" href="">
                <svg
                  class="social-network-list-icon"
                  width="24"
                  height="24"
                  aria-label="twitter icon"
                >
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-network-list-item">
              <a class="social-network-list-link-footer" href="">
                <svg
                  class="social-network-list-icon"
                  width="24"
                  height="24"
                  aria-label="facebook icon"
                >
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-network-list-item">
              <a class="social-network-list-link-footer" href="">
                <svg
                  class="social-network-list-icon"
                  width="24"
                  height="24"
                  aria-label="linkedin icon"
                >
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div> -->

<!-- <button class="open-mobile-menu-btn">
          <svg
            class="open-mobile-menu-ikon"
            width="24"
            height="24"
            aria-label="mobile menu ikon"
          >
            <use href="./images/icons.svg#icon-burger"></use>
          </svg>
        </button> -->
<!-- MOBILE MENU -->
<!-- <div class="mobile-menu is-open">
      <button class="mobile-menu-close-btn" type="button">
        <svg
          class="mobile-menu-close-icon"
          width="8"
          height="8"
          aria-label="mobile modal close icon"
        >
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="mobile-menu-navigation">
        <ul class="mobile-menu-list">
          <li class="mobile-menu-list-item list">
            <a
              class="mobile-menu-list-link link mobile-menu-list-link-decorate"
              href="./index.html"
              >Studio</a
            >
          </li>
          <li class="mobile-menu-list-item list">
            <a class="mobile-menu-list-link link" href="">Portfolio</a>
          </li>
          <li class="mobile-menu-list-item list">
            <a class="mobile-menu-list-link link" href="">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="mobile-menu-contacts">
        <address class="modal-page-address">
          <ul class="modal-address-list">
            <li class="modal-address-list-item list">
              <a class="modal-address-list-link link" href="tel:+110001111111"
                >+11 (000) 111-11-11</a
              >
            </li>
            <li class="modal-address-list-item list">
              <a
                class="modal-address-list-link accent-color link"
                href="mailto:info@devstudio.com"
                >info@devstudio.com</a
              >
            </li>
          </ul>
        </address>

        <ul class="modal-mobile-social-media-list list">
          <li class="modal-mobile-social-media-list-item">
            <a class="modal-mobile-social-media-list-link" href="">
              <svg
                class="social-network-list-icon"
                width="24"
                height="24"
                aria-label="instagram icon"
              >
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="modal-mobile-social-media-list-item">
            <a class="modal-mobile-social-media-list-link" href="">
              <svg
                class="social-network-list-icon"
                width="24"
                height="24"
                aria-label="twitter icon"
              >
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="modal-mobile-social-media-list-item">
            <a class="modal-mobile-social-media-list-link" href="">
              <svg
                class="social-network-list-icon"
                width="24"
                height="24"
                aria-label="facebook icon"
              >
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="modal-mobile-social-media-list-item">
            <a class="modal-mobile-social-media-list-link" href="">
              <svg
                class="social-network-list-icon"
                width="24"
                height="24"
                aria-label="linkedin icon"
              >
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div> -->
