<section class="hero">
    <div class="container hero-container">
        <div class="hero-title-girl-block">
            <div class="hero-title-block">
                <h1 class="hero-title">Reviving the traditional <span class="part-hero-title">Ukrainian</span> artistry
                    in every stitch.</h1>
                <a class="hero-button" href="#customer-order">Order
                    <svg class="hero-button-icon" width="28" height="22" aria-label="button icon">
                        <use href="../img/icons.svg#icon-arrow"></use>
                    </svg>
                </a>
            </div>
            <div class="hero-girl-block"> <img class="hero-images-girl"
                    srcset="../img/hero/girl-desk.jpg 392w, ../img/hero/girl-desk@2x.jpg 784w, ../img/hero/girl-tab.jpg 413w, ../img/hero/girl-tab@2x.jpg 826w, ../img/hero/girl-mob.jpg 355w, ../img/hero/girl-mob@2x.jpg 670w"
                    sizes="(min-width: 1280px) 392px, (min-width: 768px) 413px, (max-width: 767px) 355px"
                    src="../img/hero/girl-desk.jpg" alt="girl" width="392" height="545" />
            </div>
        </div>
        <div class="hand-made-block">
            <div class="star-block">
                <svg class="star-block-icon" width="52" height="51" aria-label="star">
                    <use href="../img/icons.svg#icon-star"></use>
                </svg>
                <p class="star-block-text">all embroidery is made by hand</p>
            </div>
            <img class="hero-images-shirt" srcset="../img/hero/shirt.png 139w, ../img/hero/shirt@2x.png 278w"
                sizes="(min-width: 1280px) 139px, (min-width: 768px) 139px" src="../img/hero/shirt.png" alt="shirt" />
        </div>
    </div>
</section>