<section class="container testimonials-container">
  <h3 class="testimonials-titel">Testimonials</h3>
  <div class="list-conteiner">
  <ul class="testimonials-list">
    <li class="testimonials-list-item maria">
        <!-- <div class="list-conteiner-border"> -->
          <div class="testimonials-list-conteiner-foto">
            <img
              class="testimonials-foto"
              src="./img/testimonials/maria.png"
              alt="Maria Tkachuk"
              srcset="./img/testimonials/maria@2x.png"
              width="64"
              height="64"
            />
          </div>
          <div class="testimonials-list-conteiner-text">
            <h4 class="testimonials-list-titel">Maria Tkachuk</h4>
            <p class="testimonials-list-text">
              I was pleasantly surprised by the variety of embroidery offered by
              Vyshyvanka Vibes. They have models for every taste - from classic
              to modern. I bought an embroidered dress to celebrate a special
              occasion and received impeccable service and refinement in every
              detail.
            </p>
          </div>
        </div>
      <!-- </div> -->
    </li>
    <li class="testimonials-list-item sergey">
      <div class="list-conteiner">
        <div class="list-conteiner-border">
          <div class="testimonials-list-conteiner-foto">
            <img
              class="testimonials-foto"
              src="./img/testimonials/sergey.png"
              alt="Sergey Rybachok"
              srcset="./img/testimonials/sergey@2x-1.png"
              width="64"
              height="64"
            />
          </div>
          <div class="testimonials-list-conteiner-text">
            <h4 class="testimonials-list-titel">Sergey Rybachok</h4>
            <p class="testimonials-list-text">
              Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
              simply masterpieces! I fell in love with the quality of the
              materials and the skill of the artisans behind each product. This
              is my favorite embroidery shop where I always find something
              special and unique.
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="testimonials-list-item natalia">
      <div class="list-conteiner">
        <div class="list-conteiner-border">
          <div class="testimonials-list-conteiner-foto">
            <img
              class="testimonials-foto"
              src="./img/testimonials/natalia.png"
              alt="Natalia Chatuk"
              srcset="./img/testimonials/natalia@2x-2.png"
              width="64"
              height="64"
            />
          </div>
          <div class="testimonials-list-conteiner-text">
            <h4 class="testimonials-list-titel">Natalia Chatuk</h4>
            <p class="testimonials-list-text">
              Vyshyvanka Vibes is a real find for everyone who appreciates
              Ukrainian culture. Their embroidery reflects the spirit and
              traditions of our people. I not only buy embroidered shirts for
              myself, but also give them to my friends abroad as a symbol of our
              beauty and national pride.
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
