.about-us {
    max-width: 1280px;
    padding-top: 150px;
    padding-bottom: 150px;
    margin: 0 auto;
    background-image: url(/image/elements_d.png);
    background-repeat: no-repeat;
    background-position-x: 895px;
    background-position-y: 290px;
}

.wrapper {
    max-width: 1080px;
    max-height: 545px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.about_us_title {
    margin-top: 45.5px;
}

.about_us_des {
    margin-top: 40px;
}

.about_us_des_1 {
    margin-top: 20px;
}

.left-side {
    margin-right: 50px;
}