.footer-section {
    border-top: 1px solid rgba(252, 249, 249, 0.10);
    background: #1C2225;
    padding-top: 40px;
    padding-left: 100px;
    padding-bottom: 40px;
    background-image: url(../img/footer/dt8.png);
    background-position-x: right;
    background-position-y: top;
    background-size: auto;
    background-repeat: no-repeat;
 
}

.footer-aria {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 175px;
}


.embroidery-culture {
    display: block;
    color: var(--white, #FCF9F9);
    font-family: Manrope;
    font-size: 64px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: -0.03em;
    width: 754px;
    height: 148px;
   
}

.yellow-word {
    color: var(--white, #ECD979);
}

.footer-list-item {
color: var(--white, #FCF9F9);
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.28; 
text-transform: uppercase;
}