
/*  0 - 375px */
    
 .footer-section {
    border-top: 1px solid rgba(252, 249, 249, 0.10);
    background: #1C2225;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/footer/mob.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: contain;
    /* max-width: 375px; */
    }
     
 .footer-aria {
    min-width: 320px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 292px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    }

 
 @media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width:767px){
    .footer-section {
    background-image: url(../img/footer/mob@2x.png);
    }   
} 

.footer-list {
    display: inline-flex;
    column-gap: 40px;
    row-gap: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 40px;
    justify-content: space-between;
    width: 282px;
}

.footer-list-item {
    color: var(--white, #FCF9F9);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28; 
    text-transform: uppercase;
    }

.embroidery-culture {
    display: block;
    color: var(--white, #FCF9F9);
    font-size: 44px;
    font-weight: 400;
    line-height: 1.22;
    letter-spacing:  -0.03em;
    width: 100%;
    text-align: start;
   
}

.yellow-word {
    color: var(--white, #ECD979);
}

.footer-list-item:hover,
.footer-list-item:focus {
    color:  var(--yellow, #ECD979);
} 


/* 768px - 1280px - ... */

@media screen and (min-width: 768px)   {
    .footer-section {
        background-image: url(../img/footer/tab1.png);
        background-position-x: right;
        background-position-y: top;
        }   
}

 @media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width:768px){
    .footer-section {
    background-image: url(../img/footer/elements@2x.png);
    }   
} 


@media screen and (min-width: 768px)  {
    
.footer-aria {
    
    max-width: 1279px;  
    padding-top: 40px;
    padding-left: 32px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

  .embroidery-culture {
    font-size: 54px;
    line-height: 1.18;
    width: 521px;
    height: 192px;
}

.footer-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 138px;
    width: auto;
}

}

/* 1280px - 1440px */


@media screen and (min-width: 1280px)   {
    .footer-section {
        background-image: url(../img/footer/dt.png);
        }   
}

@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution: 2dppx) and (min-width: 1280px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1280px){
    .footer-section {
    background-image: url(../img/footer/dt@2x.png);
    background-size: contain;
    }   
}

@media screen and (min-width: 1280px) {
.footer-aria {
    min-width: 1280px; 
    padding-top: 40px;
    padding-left: 100px;
    padding-bottom: 40px;
    }

 .embroidery-culture {
    font-size: 64px;
    line-height: 1.15;
    width: 754px;
    height: 148px;
}

.footer-list {
    margin-bottom: 117px;
    
} 
}