.header {
  padding: 20px 0;
  
  }

.nav-list {
    justify-content: flex-end;
   display: flex;
    /* align-items: flex-start; */
    gap: 25px;
    width: 582px;
}

.nav-link {
  color: var(--white, #FCF9F9);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
    /* 128.571% */
  text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}

/* .phone-social-network-container{
  display: flex;
    padding: 14px 28px;
    justify-content: center;
    align-items: center; */
    /* gap: 10px; */
    /* border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.10);
} */

.phone-number{
  color: var(--white, #FCF9F9);
        font-size: 14px;
        font-weight: 400;
    line-height: 1.43;
    /* 142.857% */
    text-transform: uppercase;
    width: 137px;
height: 20px;
border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.10);
}

.social-network-list-item{
  display: flex;
   align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 15px;
      border: 1px solid rgba(252, 249, 249, 0.10);
      background: rgba(252, 249, 249, 0.10);
      width: 44px;
      height: 44px;
}

.social-network-list-icon{
  display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    fill: #FCF9F9;
}